a {
    text-decoration: none;
    color: lightseagreen;
}

h2 {
    color: red;
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline wavy;
}

p {
    text-align: justify;
    line-height: 1.15;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: normal;
}

footer {
    text-align: center;
}

* {
    background-color: lightgrey;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nickname {
    color: grey;
}