a {
    text-decoration: none;
    color: lightseagreen;
}

h2 {
    color: red;
    text-align: center;
}

h1 {
    text-align: center;
<<<<<<< HEAD
    color: red;
    font-size: 6em;
=======
>>>>>>> 4fab475a5f7d2e67e0a6e510d83bc7c0a9e5796e
}

h3 {
    text-align: center;
    text-decoration: underline wavy;
}

p {
    text-align: justify;
    line-height: 1.15;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: normal;
}

footer {
    text-align: center;
}

* {
    background-color: lightgrey;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nickname {
    color: grey;
}

.mark {
    background-color: aqua;
}

.kisah >  p {
    font-size: 14px;
    color: blue;
}

/*.kisah > p:hover {
    cursor:pointer;
}  */

.publish p {
    font-size: 10px;
    color: brown;
}

.publish p:hover {
    cursor: pointer;
    text-decoration: underline;
}

a + button {
    background-color: gray;
}

input[type="password"] {
    color: red;
}

button:hover {
    background-color: cyan;
}

section:nth-of-type(1) {
    background-color: grey;
}

section h3::first-letter {
    font-size: xx-large;
}

section h3::before {
    content: '*';
}

section p::first-line {
    color: red;
}

#container  {
    background-color: #003049;
    width: 90%;
<<<<<<< HEAD
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
    flex-basis: 400px;
}

div:nth-of-type(1) {
    flex-shrink: 1.5;
}

div:nth-of-type(5) {
    flex-shrink: 2;
}

/* 
div:nth-of-type(3) {
    align-self: flex-end;
}

div:nth-of-type(5) {
    align-self: flex-start;
} */

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: #003049;
    flex: 1 2 300px;
}

main .content {
    background-color: cadetblue;
    flex: 2 1 800px;
}

nav {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

ul {
    flex: 1;
    max-width: 50%;
    justify-content: space-evenly;
}

ul,
li {
    display: flex;
    margin: 0;
    padding: 0;
}

/* @media (width: 500px) {
    h1 {
        color: aqua;
    }
} */

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2em;
    }
=======
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#container div {
    width: 600px;
    height: 100px;
>>>>>>> 4fab475a5f7d2e67e0a6e510d83bc7c0a9e5796e
}